
<!-- 保障 -->
<div class="in_helper">
	<ul>
		<li>
			<img src="{{ static_url('leshui/images/icon_01.png') }}" alt="">
			<b>超值低价</b>
		</li>
		<li>
			<img src="{{ static_url('leshui/images/icon_02.png') }}" alt="">
			<b>全网覆盖</b>
		</li>
		<li>
			<img src="{{ static_url('leshui/images/icon_03.png') }}" alt="">
			<b>购票便捷</b>
		</li>
		<li>
			<img src="{{ static_url('leshui/images/icon_04.png') }}" alt="">
			<b>保障计划</b>
		</li>
	</ul>
	<div class="in_sao">
		<img src="{{ static_url('leshui/images/code.jpg') }}" alt="">
		<span>扫一扫关注我们</span>
		<b>--旅行触手可及</b>
	</div>
</div>
<!-- 保障 -->
<!-- 底部 -->
<div class="footer">
	<div class="footer_main">
		<p>
			<a href="/portal/newsup/contact">关于乐水游</a>|
			<a href="#">供应商加盟</a>|
			<a href="#">景区加盟</a>|
			<a href="#">业务合作</a>|
			<a href="#">加入我们</a>|
			<a href="#">投资者关系</a>|
			<a href="#">业务分销</a>|
			<a href="#">"严重违规失信"专项整治举报</a>|
			<a href="#">山水公益</a>
		</p>
		<p>Copyright@2017 leshuiyou.cn  京ICP备12042593号-2 </p>
	</div>
</div>
<!-- 底部 -->
