<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<metahttp-equiv="X-UA-Compatible"content="IE=8"><!--以IE8模式渲染-->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link type="text/css" rel="stylesheet" href="{{ static_url('weui/css/weui.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ static_url('weui/css/jquery-weui.min.css') }}">
	<link href="{{ static_url('leshui/css/three.css') }}" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>
</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
			<a href="/">首页</a>
			<a class="menu_scenery" href="javascript:;">景区导览</a>
			<a class="menu_activity" href="javascript:;">近期活动</a>
			<a class="menu_product" href="javascript:;">旅游产品</a>
			<a class="menu_news" href="javascript:;">旅游资讯</a>
			<a class="menu_media" href="javascript:;">精彩瞬间</a>
			{% if is_login  and is_ops %}
			<a class="menu_require" href="javascript:;">景区需求</a>
			<a class="menu_community" href="javascript:;">经验交流</a>
			<a class="menu_supplier" href="javascript:;">供应商</a>
			<a class="menu_supplier_require" href="javascript:;">交流活动</a>
			{% end %}
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li class="menu_scenery"><a href="javascript:;">景区导览</a></li>
				<li class="menu_activity"><a href="javascript:;">近期活动</a></li>
				<li class="menu_product"><a href="javascript:;">旅游产品</a></li>
				<li class="menu_news"><a href="javascript:;">旅游资讯</a></li>
				<li class="menu_media"><a href="javascript:;">精彩瞬间</a></li>
				{% if is_login  and is_ops %}
				<li class="menu_require"><a href="javascript:;">景区需求</a></li>
				<li class="menu_community"><a href="javascript:;">经验交流</a></li>
				<li class="menu_supplier"><a href="javascript:;">供应商</a></li>
				<li class="menu_supplier_require"><a href="javascript:;">交流活动</a></li>
				{% end %}
			</ul>
		</div>
	<!-- 导航 -->

<!-- 主题内容 -->
<div class="th_main">
	<div class="ht_banner" style="height: 372px;">
		<div id="mapContainer" style="width:100%; height:350px"></div>
	</div>
	<div class="ht_bot">
		<div class="ht_bot_left">
			<!-- 添加留言 -->
			<div class="ht_hot_left_toll">
				<h1>给我们留言</h1>
				<input type="text" value="" id="phone" placeholder="联系电话">
				<textarea rows="10" cols="30" placeholder="添加留言内容" id="message" class="toll_true" style="resize:none;" ></textarea>
				<div class="send-message" style="display:none;font-size:12px;"></div>
				{% if is_login %}
				<input type="button" value="留言" id="sendComment-btn" class="toll_fb">
				{% else %}
				<a href="/portal/auth/login">登录添加留言</a>
				{% end %}
			</div>
		</div>
		<!-- 右侧部分 -->
		<div class="ht_bot_right">
			<div class="ht_bot_right_four">
				<h1>联系我们</h1>
				<i><img src="{{ static_url('leshui/images/sf.png') }}">北京市西城区南线阁街10号基业大厦707</i>
				<i><img src="{{ static_url('leshui/images/dh.png') }}">010-63204755</i>
				<i><img src="{{ static_url('leshui/images/yx.png') }}">3380928340@qq.com</i>
			</div>
		</div>
	</div>
</div>
<!-- 主题内容 -->
<!-- Footer -->
{% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
<!-- End Footer -->
<script type="text/javascript" src="{{ static_url('leshui/js/index.js') }}"></script>
<script type="text/javascript" src="{{ static_url('leshui/js/three.js') }}"></script>
<script type="text/javascript" src="{{ static_url('weui/js/jquery-weui.min.js') }}"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=f72ae6a1b42b43ed29f1c7981f57bc53&callback=init"></script>
<script>
	$(function() {
		$('#dw').hide();
		// 添加留言操作
		$('#sendComment-btn').on('click',function(){
				var message = $('#message').val();
				function hide(){
					$(".send-message").hide();
				};
				var data = {
					phone: $('#phone').val(),
					message: message,
					league_id: "{{ league_id }}",
					club_id: "00000000000000000000000000000000"
				};
				var json = JSON.stringify(data);
				console.log(json);

				if(phone == "" || message == ""){
					$(".send-message").show().css({"color":"red"}).html("填写不完整");
					setTimeout(hide,2000);
					return;
				}else{
					$.ajax({
						type: "POST",
						url: "{{api_domain}}/api/guest-book",
						dataType: "json",
						data: json,
						contentType: 'application/json',
						headers: {"Authorization":"Bearer {{access_token}}"},
						success: function(data, status, xhr) {
							$("#phone").val("");
							$("#message").val("");
							$(".send-message").show().css({"color":"#90e012"}).html("留言成功！");
							setTimeout(hide,3000);
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
						},
						complete: function(XMLHttpRequest, textStatus) {
							this; // 调用本次AJAX请求时传递的options参数
						}
					});
				}
		})

	});
</script>

<script>
		var map = new AMap.Map('mapContainer', {
			 zoom : 14,
			 center: [116.353567, 39.88841]
		 });

		 map.plugin(["AMap.ToolBar"], function() {
				 map.addControl(new AMap.ToolBar());
		 });

		 var marker = new AMap.Marker({
						 position : [116.353567, 39.88841],
						 offset : new AMap.Pixel(-12,-12),
						 map : map
		 });
		 marker.setTitle("北京市西城区广安门内大街基业大厦");

		AMap.plugin('AMap.Geocoder',function(){
			var geocoder = new AMap.Geocoder({
					city: "010"//城市，默认：“全国”
			});

			map.on('click',function(e){
					geocoder.getAddress(e.lnglat,function(status,result){
						if(status=='complete'){
							//  document.getElementById('input').value = result.regeocode.formattedAddress
							addMarker(e.lnglat,result.regeocode.formattedAddress);
						}
					})
			})
		});

		function addMarker(lnglat,address) {
			var marker = new AMap.Marker({
					map:map,
					bubble:true
			})
			marker.setPosition(lnglat);
			marker.setTitle(address);
			//给Marker绑定单击事件
			marker.on('click', openInfo);
			marker.emit('click',{target:marker});
			map.setFitView();
		}

		function openInfo(e) {
			//构建信息窗体中显示的内容
			var info = [];
			info.push("<div>");
			info.push("<div style=\"padding:0px 0px 0px 4px;\"><b>当前点地址</b>");
			info.push(e.target.getTitle() + "</div></div>");
			infoWindow = new AMap.InfoWindow({
					content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
			});
			infoWindow.open(map, e.target.getPosition());
		}
</script>
</body>
</html>
