<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<metahttp-equiv="X-UA-Compatible"content="IE=8"><!--以IE8模式渲染-->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link href="{{ static_url('leshui/css/zhuce.css') }}" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>
	<!--[if lte IE 8]>
	<script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<![endif]-->
</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("block-socialbar.html") %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
			<a href="/">首页</a>
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
		</div>
	<!-- 导航 -->

<!-- 主题内容 -->
<div class="zc_main">
	<h1>登录Demo（请点击换一张）</h1>
	<form id="login-form">
		<ul>
			<li>
				<i>用户名：</i>
				<input type="text" name="lg_phone" id="lg_phone" placeholder="手机号" />
			</li>
			<li>
				<i>登录密码：</i>
				<input type="password" name="lg_pwd" id="lg_pwd" placeholder="请输入密码" />
			</li>
			<li>
				<i>验证码：</i>
				<input type="text" placeholder="请输入验证码" name="rg_y_code" id="code-input" class="zc_yzm" />
				<img id="code-box" src="" alt="验证码">
				<a href="javascript:;" id="change-btn">换一张</a>
			</li>
			<li class="lo_wj">
				<a href="#" class="lo_foget">忘记密码?</a>
				<a href="#" class="lo_zc">立即注册</a>
			</li>
			<li class="lo_wj">
				<i class="zc_greed">&nbsp;</i>
				<input name="" type="checkbox" value="" checked="checked" class="zc_read" />
				<p>三个月内自动登录</p>
			</li>
			<li style="margin-top:-37px;text-align: center;color: red;font-size: 12px;">
				<div class="login-form-main-message" style="display:none;"></div>
			</li>
			<li class="zc_email">
				<i class="zc_greed">&nbsp;</i>
				<input name="" type="submit" class="lo_login" value="登录" />
			</li>
		</ul>
	</form>
</div>
<!-- 主题内容 -->
<!-- Footer -->
{% module Template("block-footer.html") %}
<!-- End Footer -->
<script src="{{ static_url('leshui/js/index.js') }}" type="text/javascript"></script>
<!-- login -->
<script type="text/javascript" src="{{ static_url('js/md5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/json2.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.validate.min.js') }}"></script>
<script type="text/javascript">
$(function(){
		// $.support.cors = true;//判断浏览器是否支持跨域
		var code = "";
		getImgCode();
		function getImgCode(){
			$.ajax({
				type: "POST",
				url: "/image/api/verify",
				// dataType: "json",
				cache:false,
				contentType: 'application/json',
				success: function(data, status, xhr) {
					var data = JSON.parse(data);
					$("#code-box").attr('src',data.imageUrl);
					// var src = data.image_url;
					// var ele = document.getElementById('code-box');
					// console.log("success>>>",data.image_url);
					// ele.src= data.image_url;
					code = data.code.toLowerCase();
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					// console.log("error>>>",textStatus);
				},
				complete: function(XMLHttpRequest, textStatus) {
					this; // 调用本次AJAX请求时传递的options参数
				}
			});
		}
			$('#change-btn').on('click',function(){
				getImgCode();
			})
		// 手机号码验证
		jQuery.validator.addMethod("mobile", function(value, element) {
			var length = value.length;
			var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;
			return this.optional(element) || (length == 11 && mobile.test(value));
		}, "请正确填写您的手机号码");

	});
</script>
</body>
</html>
