<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<metahttp-equiv="X-UA-Compatible"content="IE=8"><!--以IE8模式渲染-->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link href="{{ static_url('leshui/css/zhuce.css') }}" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>
	<!--[if lte IE 8]>
	<script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<![endif]-->
</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
			<a href="/">首页</a>
			<a class="menu_scenery" href="javascript:;">景区导览</a>
			<a class="menu_activity" href="javascript:;">近期活动</a>
			<a class="menu_product" href="javascript:;">旅游产品</a>
			<a class="menu_news" href="javascript:;">旅游资讯</a>
			<a class="menu_media" href="javascript:;">精彩瞬间</a>
			{% if is_login  and is_ops %}
			<a class="menu_require" href="javascript:;">景区需求</a>
			<a class="menu_community" href="javascript:;">经验交流</a>
			<a class="menu_supplier" href="javascript:;">供应商</a>
			<a class="menu_supplier_require" href="javascript:;">供应商需求</a>
			{% end %}
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li class="menu_scenery"><a href="javascript:;">景区导览</a></li>
				<li class="menu_activity"><a href="javascript:;">近期活动</a></li>
				<li class="menu_product"><a href="javascript:;">旅游产品</a></li>
				<li class="menu_news"><a href="javascript:;">旅游资讯</a></li>
				<li class="menu_media"><a href="javascript:;">精彩瞬间</a></li>
				{% if is_login  and is_ops %}
				<li class="menu_require"><a href="javascript:;">景区需求</a></li>
				<li class="menu_community"><a href="javascript:;">经验交流</a></li>
				<li class="menu_supplier"><a href="javascript:;">供应商</a></li>
				<li class="menu_supplier_require"><a href="javascript:;">供应商需求</a></li>
				{% end %}
			</ul>
		</div>
	<!-- 导航 -->

<!-- 主题内容 -->
<div class="zc_main">
	<h1>登录乐水游</h1>
	<form id="login-form" action="#" method="post">
		<ul>
			<li>
				<i>用户名：</i>
				<input type="text" name="lg_phone" id="lg_phone" placeholder="手机号" />
			</li>
			<li>
				<i>登录密码：</i>
				<input type="password" name="lg_pwd" id="lg_pwd" placeholder="请输入密码" />
			</li>
			<li>
				<i>验证码：</i>
				<input type="text" placeholder="请输入验证码" name="rg_y_code" id="code-input" class="zc_yzm" />
				<img id="code-box" src="" alt="验证码">
				<a href="javascript:;" id="change-btn">换一张</a>
			</li>
			<li class="lo_wj">
				<a href="/portal/auth/lost-pwd" class="lo_foget">忘记密码?</a>
				<a href="/portal/auth/register" class="lo_zc">立即注册</a>
			</li>
			<li class="lo_wj">
				<i class="zc_greed">&nbsp;</i>
				<input name="" type="checkbox" value="" checked="checked" class="zc_read" />
				<p>三个月内自动登录</p>
			</li>
			<li style="margin-top:-37px;text-align: center;color: red;font-size: 12px;">
				<div class="login-form-main-message" style="display:none;"></div>
			</li>
			<li class="zc_email">
				<i class="zc_greed">&nbsp;</i>
				<input name="" type="submit" class="lo_login" value="登录" />
			</li>
		</ul>
	</form>
</div>
<!-- 主题内容 -->
<!-- Footer -->
{% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
<!-- End Footer -->
<script src="{{ static_url('leshui/js/index.js') }}" type="text/javascript"></script>
<!-- login -->
<script type="text/javascript" src="{{ static_url('js/md5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/json2.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.validate.min.js') }}"></script>
<script type="text/javascript">
$(function(){
		// $.support.cors = true;//判断浏览器是否支持跨域
		var code = "";
		getImgCode();
		function getImgCode(){
			$.ajax({
				type: "GET",
				url: "{{api_domain}}/api/auth/verify-codes/image",
				headers: {
					"Authorization": "Bearer eHfWk+OqSWaR7FhDTkW/d7TIZqP3q0W3nVGXKZY5A8Q="
				},
				// dataType: "json",
				cache:false,
				contentType: 'application/json',
				success: function(data, status, xhr) {
					console.log("success>>>1",data);
					var data = JSON.parse(data);
					$("#code-box").attr('src',data.image_url);
					// var src = data.image_url;
					// var ele = document.getElementById('code-box');
					// console.log("success>>>",data.image_url);
					// ele.src= data.image_url;
					code = data.code.toLowerCase();
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					// console.log("error>>>",textStatus);
				},
				complete: function(XMLHttpRequest, textStatus) {
					this; // 调用本次AJAX请求时传递的options参数
				}
			});
		}
			$('#change-btn').on('click',function(){
				getImgCode();
			})
		// 手机号码验证
		jQuery.validator.addMethod("mobile", function(value, element) {
			var length = value.length;
			var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;
			return this.optional(element) || (length == 11 && mobile.test(value));
		}, "请正确填写您的手机号码");

		// Login Form
		$("#login-form").validate({
			rules: {
				lg_phone: {
					minlength: 11,
					maxlength: 11,
					required: true,
					mobile: true
				},
				lg_pwd: {
					required: true,
				},
				rg_y_code: {
					required: true,
					minlength: 4
				},
			},
			messages: {
				lg_phone: "请输入正确的手机号码！",
				lg_pwd: {
					required: "请输入密码",
				},
				rg_y_code: "请输入正确的验证码",
			},
			errorElement: 'span',
			errorClass: "error",
			errorPlacement: function(error, element) {
         error.appendTo(element.parent());
    	},
			submitHandler: function(form) {
				// console.log('login');
				function hider(){
					$('.login-form-main-message').hide();
				}
				// 验证码校验
				var input_code = $('#code-input').val();
				if(input_code != code){
					$('.login-form-main-message').show().html('验证码输入有误!');
					setTimeout(hider,3000);
					return
				}
				var data = {
					action: 'login',
					login_type: 'phone',
					phone: $('#lg_phone').val(),
					pwd: $.md5($('#lg_pwd').val()),
				};
				var json = JSON.stringify(data);
				console.log(json);
				$.ajax({
					type: "POST",
					url: "{{api_domain}}/api/auth/tokens",
					headers: {
						"Authorization": "Bearer eHfWk+OqSWaR7FhDTkW/d7TIZqP3q0W3nVGXKZY5A8Q="
					},
					data: json,
					dataType: "json",
					contentType: 'application/json',
					success: function(data, status, xhr) {
						console.log(data);
						if (data.err_code == 200) {

						} else if(data.err_code == 404){
							$('.login-form-main-message').show().html('手机号或密码错误！');
							setTimeout(hider,2000);
							return
						} else {
							$('.login-form-main-message').show().html('网络异常,刷新重试');
							setTimeout(hider,2000);
							return
						}
						// console.log("XMLHttpRequest.status++++++:"+ data.rs);
						var json = JSON.stringify(data.rs);
						console.log(json);

						// 登录成功后，注册入联盟
						$.ajax({
							type: "POST",
							url: "/portal/auth/league-signup",
							data: json,
							dataType: "json",
							contentType: 'application/json',
							success: function(data, status, xhr) {
								location.href = "/portal/newsup/login-next";
							},
							error: function(XMLHttpRequest, textStatus, errorThrown) {
								console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
							},
							complete: function(XMLHttpRequest, textStatus) {
								this; // 调用本次AJAX请求时传递的options参数
							}
						});
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
						if (XMLHttpRequest.status == 404) {
							$('.login-form-main-message').addClass('error').html('手机号码或密码不正确, 请重试');
						}
					},
					complete: function(XMLHttpRequest, textStatus) {
						this; // 调用本次AJAX请求时传递的options参数
					}
				});
			}
		});

	});
</script>
</body>
</html>
