<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QRcode</title>
	<metahttp-equiv="X-UA-Compatible"content="IE=8"><!--以IE8模式渲染-->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link type="text/css" rel="stylesheet" href="{{ static_url('weui/css/weui.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ static_url('weui/css/jquery-weui.min.css') }}">
	<link href="{{ static_url('leshui/css/three.css') }}" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>
	<!--[if lte IE 8]>
	<script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<![endif]-->
</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("block-socialbar.html") %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
			<a href="/">首页</a>
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
		</div>
	<!-- 导航 -->

	<!-- 主题内容 -->
	<div class="th_main">
		<div class="ht_bot">
			<div class="ht_bot_left">
				<!-- 添加留言 -->
				<div class="ht_hot_left_toll">
					<h1>输入URL</h1>
					<textarea rows="10" cols="30" placeholder="添加URL" id="url" name="url" class="toll_true" style="resize:none;" ></textarea>
					<input type="button" value="Reset" onclick="SubmitReset();" class="toll_fb">
					<input type="button" value="Done" onclick="SubmitQrcode();" class="toll_fb">
				</div>
			</div>
			<!-- 右侧部分 -->
			<div class="ht_bot_right">
				<div class="ht_bot_right_four">
					<h1>生成二维码</h1>
					<span class="image fit" id="qrcodeimg">
						<img src="static/images/pic04.jpg" alt="" />
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 主题内容 -->

<!-- Footer -->
{% module Template("block-footer.html") %}
<!-- End Footer -->
<script type="text/javascript" src="{{ static_url('leshui/js/index.js') }}"></script>
<script type="text/javascript" src="{{ static_url('leshui/js/three.js') }}"></script>
<!-- login -->
<script type="text/javascript" src="{{ static_url('js/jquery.json.min.js') }}"></script>
<script type="text/javascript">
	function SubmitQrcode() {
		var url = $("#url").val();
		var data = {'url' : url, 'size':4};
		console.log(data);
		_json = $.toJSON(data);

		// $.ajax({
		//   'type': 'POST',
		//   'url': "/api/qrcode",
		//   'data': data,
		//   'success': { alert("second success"); },
		//   'dataType': "json"
		// });

		$.post("/qrcode/api/qrcode", _json, function(result){
			console.log( "success: " + result );
		}, 'json')
		.done(function(result) {
			console.log( "second success: " + result );
		})
		.fail(function(result) {
			console.log( "error: " + result );
		})
		.always(function(result) {
			console.log(result.rs);
			document.getElementById("qrcodeimg").innerHTML = '<img src="' + result.rs + '"/>';
		});
	}

	function SubmitReset() {
		$("#url").val("");
	}
</script>
</body>
</html>
