[Unit]
Description=CyberLife QRcode Service
After=nginx.service
Wants=nginx.service

[Service]
WorkingDirectory=/opt/cyberlife/service/cyber-qrcode
ExecStart=/bin/env python2.7 index.py -log_file_prefix=/opt/cyberlife/logs/cyber-qrcode.log
Type=simple
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
