[Unit]
Description=CyberLife QRcode Doc(Swagger) Service
After=nginx.service cyber-qrcode.service
Wants=nginx.service cyber-qrcode.service

[Service]
WorkingDirectory=/opt/cyberlife/service/cyber-qrcode
ExecStart=/bin/env python2.7 swagger.py -log_file_prefix=/opt/cyberlife/logs/cyber-qrcode-swagger.log
Type=simple
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
