html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,strong,dl,dd,dt{margin:0;padding:0;font-weight: normal}
ol,ul{list-style:none; margin:0px; padding:0px;}
img{border:0;}
body{ font-family: "黑体",Arial,"FangSong";background: #fafafa;}
a:link,a:visited,.main .artbox .lbox_1 .step13 li span a,.main .artbox .picbox li span a{text-decoration:none;}
a:hover{cursor:pointer;}
.clear{ clear:both;}
h1,h2,h3,h4,i,em{ font-style: normal; font-weight: normal }
input,select{outline: none;font-family: "微软雅黑"}

/*头部*/
.top{width: 100%;float: left;background: #f5f5f5;height: 31px;line-height: 31px;}
.top_main{width: 1200px;margin: auto;overflow: hidden;}
.top_main span{color: #666;font-size: 12px;width: auto;float: left;}
.top_main a{padding: 0 10px;color: #666;}
.top_main a:hover{color: #00a0e9}
.top_main i{color: #666;font-size: 12px;width: auto;float: right;font-style: normal;}
.top_main i#dw{display: none;}

.active{background-color: #00a0e9;}
/*搜索*/
.search_all{width: 100%;overflow: hidden;height: 138px;background:url(../images/bg.jpg) no-repeat;}
.search{width: 1200px;margin: auto;overflow: hidden;padding-top:2%;}
.nav_logo{width: auto;float: left;}
.nav_logo img{width: 80px;float: left;}
.nav_logo h1{width: auto;font-size: 21px;color: #333;padding-left: 20px;line-height: 80px;float: left;font-weight: bold;}
.search_main{width:55%;float: right;padding: 2% 0 0 0; }
.search_sr{width: 52%;height: 38px;line-height: 38px;float: left;border:1px #ff9913 solid;text-indent:3em;
	background:url(../images/serch.png) no-repeat;	background-size: 28px 38px;background-position:left center ;}
.search_sub{width: 14%;height: 46px;border-radius: 0;line-height: 42px;float: left;border: none;cursor: pointer;background: #ff9913;
color: #fff;font-size: 18px;font-family: "微软雅黑"}

/*导航*/
.nav_all{width: 100%;float: left;height: 45px;line-height: 45px;background: #41bbf3;}
.nav{width:1200px;margin: auto;overflow: hidden;}
.nav a{float: left;width:auto;padding:0 1.9%;color: #fff;font-size: 16px;font-family: "微软雅黑"}
.nav a:hover{background: #00a0e9;}

.ph_nav{width:92%;float: left;display: none;padding:2% 4% 0 4%;}
.ph_nav h1{width: 100%;float: left;text-align: center;}
.ph_nav h2{width: 100%;float: left;text-align: center;display: none;}
.ph_nav ul{width: 100%;float: left;display: none;}
.ph_nav ul li{float: left;width: 100%;border-bottom: 1px #eee solid;padding:10px 0;text-align: center; }
.ph_nav ul li a{color: #2f3e42;font-size: 14px;}

/*第一部分*/
.in_one{width:1200px;margin: auto;padding-top:2%;}
.in_one_all{width: 100%;float: left;padding-top: 2%;}
.in_left{width: 25%;float: left;position: relative;z-index: 9999}
.in_left_one{width: 100%;float: left;border: 1px #eee solid; margin-bottom: 10px;background: #fff;height: 52px;}
.in_left_one i{width: 20%;float: left;font-style: normal;height: 50px;line-height: 50px;padding-left: 10px;font-family: "微软雅黑"}
.in_left_one i img{width: 25px;float: left;padding-top: 13px;}
.in_left_one i a{color: #666;font-size: 14px;font-family: "微软雅黑"}
.in_left_one i a:hover{color: #00a0e9;}
.in_left_one span{width: auto;float: right;color: #666;padding-right:10px;font-size: 14px;line-height: 50px;cursor: pointer;font-family: "微软雅黑"}
.in_left_one span b{color: #666;font-size: 14px;float: left;font-weight: normal;font-family: "微软雅黑"}
.in_left_one span img{width: 25px;float: left;padding-top: 11px;}

.in_mdd{width:410px;padding:0 20px;position: absolute;left: 0;top:52px;background: #fff;z-index: 9999;border: 1px #eee solid;border-top: none;display: none;
font-family: "微软雅黑"}
.in_mdd h5{width: 100%;float: left;font-size: 12px;color: #888;line-height: 25px;font-family: "微软雅黑"}
.in_mdd > p{width: 100%;float: left;font-size: 14px;line-height: 25px;padding-bottom:5%;font-family: "微软雅黑"}
.in_mdd > p > a{width: auto;padding-right: 8px;color: #333;font-family: "微软雅黑"}
.in_mdd > p a:hover{color: #00b7ee;}
.in_mdd > p.in_mddo{border-bottom: 1px solid #eaeaea;}
.mdd_min{width: 100%;float: left;padding-bottom: 10px;font-family: "微软雅黑"}
.mdd_min h5{width: 100%;float: left;font-size: 12px;color: #888;line-height: 25px;font-family: "微软雅黑"}
.mdd_min_title{width: 100%;float: left;padding-bottom: 10px;}
.mdd_min_title a{width: auto;padding:0 6px;color: #333;font-size: 14px;font-family: "微软雅黑"}
.mdd_min_title a:hover{color: #00b7ee;}
.mdd_min_title_hover {background: #8c8c8c;color: #fff!important;}
.mdd_min ul{width: 100%;float: left;}
.mdd_min ul li{width: 100%;float: left;background: #eee;padding:10px 0;font-size: 14px;display: none;font-family: "微软雅黑"}
.mdd_min ul li b{width: 100px;float: left;text-align: center;font-weight: normal;color: #333;}
.mdd_min ul li p{width: 310px;float: right;color: #333;}
.mdd_min ul li p a{width: auto;padding-right: 9px;color: #333;line-height: 25px;}
.mdd_min ul li p a:hover{color: #00b7ee;}

.in_left_two{width: 90%;float: left;border: 1px #eee solid;border-bottom: none;padding:4% 5%;height: 78px;overflow: hidden;background: #fff;}
.in_left_two b{width: 100%;font-size: 16px;color: #666;float: left;padding-bottom: 5px;line-height: 30px;font-family: "微软雅黑"}
.in_left_two b img{float: left;}
.in_left_two a{width:24px;font-size: 12px;color: #666;padding-right: 10px;float: left;line-height: 21px;font-family: "微软雅黑"}
.in_left_two a:hover{color: #00a0e9;}
.in_left_three{width: 90%;float: left;border: 1px #eee solid;border-bottom: none;padding:4% 5%;height: 78px;overflow: hidden;background: #fff;}
.in_left_three b{width: 100%;font-size: 16px;color: #666;float: left;padding-bottom: 5px;line-height: 30px;font-family: "微软雅黑"}
.in_left_three b img{float: left;}
.in_left_three a{width:auto;font-size: 12px;color: #666;padding-right: 10px;float: left;*float: none;line-height: 21px;font-family: "微软雅黑"}
.in_left_three a:hover{color: #00a0e9;}
.in_left_four{width: 90%;float: left;border: 1px #eee solid;padding:4% 5%;height: 78px;overflow: hidden;background: #fff;}
.in_left_four b{width: 100%;font-size: 16px;color: #666;float: left;padding-bottom: 5px;line-height: 30px;font-family: "微软雅黑"}
.in_left_four b img{float: left;}
.in_left_four a{width:auto;font-size: 12px;color: #666;padding-right: 10px;float: left;line-height: 21px;font-family: "微软雅黑"}
.in_left_four a:hover{color: #00a0e9;}

.in_right1{width: 74%;float: right;height: 372px;overflow: hidden;}
.in_right1 img{width: 100%;float: left;height:372px; }
#banner{width:100%;height:372px;position:relative;margin:0 auto;z-index: 2}
#banner .imglist{width:100%;height:372px;position:absolute;top:0px;left:0px;z-index: 2}
.btn{position:absolute;bottom:10px;left:44%;display:inline-block;padding:2px 15px;
     background-color:#ccc;border-radius:11px;}
.btn li{float:left;height:16px;width:16px;margin:0px2px;
	 background:url("../images/1.png") no-repeat;}
.btn .hover{background:url("../images/2.png") no-repeat;}

.in_right{width: 74%;float: right;height: 372px;overflow: hidden;display: none;}
.in_right img{width: 100%;float: left;max-height:372px; }



/*第二部分*/
.in_two{width:1200px;margin: auto;overflow: hidden;padding-top:2%;}
.in_two_title{width:100%;float: left; height: 30px;line-height: 30px;border-bottom: #00a0e9 2px solid;}
.in_two_title ul{width: 70%;float: left;}
.in_two_title ul li{width: auto;float: left;padding:0 15px;color: #00a0e9;font-size: 18px;cursor: pointer;}
.in_two_title_hover{background: #00a0e9;color: #fff!important;}
.in_two_title a{color: #666;font-size: 14px;float: right;width: auto;}
.in_two_title a:hover{color: #00a0e9;}

.in_two_mian{width:100%;float: left;padding-top:20px;}
.in_two_hot{width:100%;float: left;display: none;}
.in_two_hot_left{width:230px;float: left;height:497px;position: relative; }
.in_two_hot_left_img{width: 100%;position: absolute;left: 0;top: 0;z-index: 1;}
.in_two_hot_left_img img{width: 100%;height:100%;}
.in_two_hot_left_main{position: absolute;left:0;top:0;width:230px;z-index: 1;}
.in_two_hot_left_top{width: 90%;float: left;padding:20px 10% 0 10%;}
.in_two_hot_left_top i{background: url(../images/lc.png) no-repeat;width: 50px;height: 50px;text-align: center;float: left;
font-style: normal;color: #00a0e9;font-size: 14px;line-height: 40px;}
.in_two_hot_left_top p{float: left;padding:8px 0 0 5px;font-size: 20px;color: #fff;font-weight: bold;}
.in_two_hot_left_top h3{float: left;padding:8px 0 0 5px;font-size: 14px;color: #fff;width: 90%;font-weight: normal;}

.ph_hot{display: none;}

.in_two_hot_left_bot{width: 80%;float: left;padding:90% 10% 0 10%;}
.in_two_hot_left_bot a{float: left;width:46%;text-align: center;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius: 20px;background:#fff;color: #00a0e9;height: 30px;line-height: 30px;margin-bottom: 10px;font-size: 14px;}
.in_two_hot_left_bot a:hover{background: rgba(255,255,255,.7);}

.in_two_hot_right{width: 80%;float: right;}
.in_two_hot_right ul li{float: left;width: 23%;border: 1px solid #e1e1e1;margin:0 0 1.5% 1.5%;padding-bottom: 10px;background: #fff; }
.in_two_hot_right ul li a img{width: 100%;float: left;height: 150px;}
.in_two_hot_right ul li a h4{width: 90%;padding:0 5%;float: left;color: #444444;font-size: 17px;line-height: 30px;height: 30px;overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;}
.in_two_hot_right ul li p{width: 90%;padding:0 5%;float: left;color: #888888;font-size: 13px;line-height: 25px;height:50px ;overflow: hidden;}
.in_two_hot_right ul li a:hover h4{color: #00a0e9}

.in_two_tj{width:100%;float: left;display: none;}
.in_two_tj_left_top{width: 90%;float: left;padding:20px 10% 0 10%;}
.in_two_tj_left_top i{background: url(../images/lc.png) no-repeat;width: 50px;height: 50px;text-align: center;float: left;
font-style: normal;color: #ff5622;font-size: 14px;line-height: 40px;}
.in_two_tj_left_top p{float: left;padding:8px 0 0 5px;font-size: 20px;color: #fff;font-weight: bold;}
.in_two_tj_left_top h3{float: left;padding:8px 0 0 5px;font-size: 14px;color: #fff;width: 90%;font-weight: normal;}

.in_two_tj_left_bot{width: 80%;float: left;padding:90% 10% 0 10%;}
.in_two_tj_left_bot a{float: left;width:46%;text-align: center;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius: 20px;background:#fff;color: #ff5622;
height: 30px;line-height: 30px;margin-bottom: 10px;font-size: 14px;}
.in_two_tj_left_bot a:hover{background: rgba(255,255,255,.7);}

/*特色路线*/
.in_ts{width:1200px;margin: auto;overflow: hidden;padding-top:2%;}
.in_ts h1{width: 100%;float: left;color: #ff3c3c;font-size: 20px;height: 40px;line-height:40px;border-bottom: #ff3c3c 2px solid;margin-bottom: 2% }
.in_ts h1 a{color: #666;font-size: 14px;float: right;width: auto;}
.in_ts h1 a:hover{color: #00a0e9;}

.in_ts_mian{width:100%;float: left;padding-top:20px;}
.in_ts_hot_left{width:230px;float: left;height:497px;position: relative; }
.in_ts_hot_left_img{width: 100%;position: absolute;left: 0;top: 0;z-index: 1;}
.in_ts_hot_left_img img{width: 100%;height:100%;}
.in_ts_hot_left_main{position: absolute;left:0;top:0;width:230px;z-index: 1;}
.in_ts_hot_left_top{width: 90%;float: left;padding:20px 10% 0 10%;}
.in_ts_hot_left_top i{background: url(../images/lc.png) no-repeat;width: 50px;height: 50px;text-align: center;float: left;
font-style: normal;color:#00ad53;font-size: 14px;line-height: 40px;}
.in_ts_hot_left_top p{float: left;padding:8px 0 0 5px;font-size: 20px;color: #fff;font-weight: bold;}
.in_ts_hot_left_top h3{float: left;padding:8px 0 0 5px;font-size: 14px;color: #fff;width: 90%;font-weight: normal;}

.ph_hot{display: none;}

.in_ts_hot_left_bot{width: 80%;float: left;padding:90% 10% 0 10%;}
.in_ts_hot_left_bot a{float: left;width:46%;text-align: center;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius: 20px; background:#fff;color: #00ad53;
height: 30px;line-height: 30px;margin-bottom: 10px;font-size: 14px;}
.in_ts_hot_left_bot a:hover{background: rgba(255,255,255,.7);}

.in_ts_hot_right{width: 80%;float: right;}
.in_ts_hot_right ul li{float: left;width: 23%;border: 1px solid #e1e1e1;margin:0 0 1.5% 1.5%;padding-bottom: 10px;background: #fff; }
.in_ts_hot_right ul li a img{width: 100%;float: left;height: 150px;}
.in_ts_hot_right ul li a h4{width: 90%;padding:0 5%;float: left;color: #444444;font-size: 17px;line-height: 30px;height: 30px;overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;}
.in_ts_hot_right ul li p{width: 90%;padding:0 5%;float: left;color: #888888;font-size: 13px;line-height: 25px;height:50px ;overflow: hidden;}
.in_ts_hot_right ul li a:hover h4{color: #00a0e9}

.in_ts_tj{width:100%;float: left;display: none;}
.in_ts_tj_left_top{width: 90%;float: left;padding:20px 10% 0 10%;}
.in_ts_tj_left_top i{background: url(../images/lc.png) no-repeat;width: 50px;height: 50px;text-align: center;float: left;
font-style: normal;color: #ff5622;font-size: 14px;line-height: 40px;}
.in_ts_tj_left_top p{float: left;padding:8px 0 0 5px;font-size: 20px;color: #fff;font-weight: bold;}
.in_ts_tj_left_top h3{float: left;padding:8px 0 0 5px;font-size: 14px;color: #fff;width: 90%;font-weight: normal;}

.in_ts_tj_left_bot{width: 80%;float: left;padding:90% 10% 0 10%;}
.in_ts_tj_left_bot a{float: left;width:46%;text-align: center;border-radius: 20px;background: rgba(255,255,255,1);color: #ff5622;
height: 30px;line-height: 30px;margin-bottom: 10px;font-size: 14px;}
.in_ts_tj_left_bot a:hover{background: rgba(255,255,255,.7);}
/*特色路线*/


/*近期活动*/
.in_active{width:1200px;margin: auto;overflow: hidden;padding-top:2%; }
.in_active h1{width: 100%;float: left;color: #12d850;font-size: 20px;height: 40px;line-height:40px;border-bottom: #12d850 2px solid;margin-bottom: 2% }
.in_active h1 a{color: #666;font-size: 14px;float: right;width: auto;}
.in_active h1 a:hover{color: #00a0e9;}
.in_active ul li{float: left;width: 17.5%;border: 1px solid #e1e1e1;margin:0 1% 1.5% 1%;padding-bottom: 10px;background: #fff; }
.in_active ul li a img{width: 100%;float: left;height: 150px;}
.in_active ul li a h4{width: 90%;padding:0 5%;float: left;color: #444444;font-size: 17px;line-height: 30px;height: 30px;overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;}
.in_active ul li p{width: 90%;padding:0 5%;float: left;color: #888888;font-size: 13px;line-height: 25px;height:50px ;overflow: hidden;}
.in_active ul li a:hover h4{color: #00a0e9}

/*旅游资讯*/
.in_news{width:1200px;margin: auto;overflow: hidden;padding-top:2%;}
.in_news h1{width: 100%;float: left;color: #ff3c3c;font-size: 20px;height: 40px;line-height:40px;border-bottom: #ff3c3c 2px solid;margin-bottom: 2%  }
.in_news h1 a{color: #666;font-size: 14px;float: right;width: auto;}
.in_news h1 a:hover{color: #00a0e9;}
.in_news ul li{float: left;width: 17.5%;border: 1px solid #e1e1e1;margin:0 1% 1.5% 1%;padding-bottom: 10px;background: #fff; }
.in_news ul li a img{width: 100%;float: left;height: 150px;}
.in_news ul li a h4{width: 90%;padding:0 5%;float: left;color: #444444;font-size: 17px;line-height: 30px;height: 30px;overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;}
.in_news ul li p{width: 90%;padding:0 5%;float: left;color: #888888;font-size: 13px;line-height: 25px;height:50px ;overflow: hidden;}
.in_news ul li a:hover h4{color: #00a0e9}

/*保障*/
.in_helper{width:1200px;margin: auto;overflow: hidden;margin-top:2%;border: 1px solid #e1e1e1;height: 170px;}
.in_helper ul {width:70%;float: left;margin:2% 0;border-right:1px solid #e1e1e1; height: 120px; }
.in_helper ul li{float: left;width: 25%;text-align: center;padding-top: 2%;}
.in_helper ul li img{width: 66px;}
.in_helper ul li b{width: 100%;float: left;font-size: 18px;color: #333;padding-top: 10px;}

.in_sao{width: 27.5%;float: left;background: #eee;margin:2% 1%;height: 105px;padding-top: 15px;}
.in_sao img{width:90px;float: left;padding-left: 15px }
.in_sao span{width: 60%;float:left;color: #333;font-size: 14px;line-height: 25px;padding: 5% 0 0 15px;}
.in_sao b{width: 60%;float:left;color: #333;font-size: 14px;line-height: 25px;padding-left: 15px;}

/*底部*/
.footer{width: 100%;background: #fff;overflow: hidden;padding: 2% 0;}
.footer_main{width:1200px;margin: auto;overflow: hidden;}
.footer_main p{width: 100%;float: left;text-align: center;font-size:12px;color: #999;height: 30px;line-height: 30px;}
.footer_main p a{padding: 0 5px;color: #999;}
.footer_main p a:hover{color: #00a0e9}


@media screen and (max-width: 1024px) {
.search_all{height: 116px;}
.top_main{width: 800px;}
.search{width: 800px;}
.nav_logo h1{width: 145px;line-height: 25px;padding-top: 13px;font-size: 16px;}
.nav{width:800px;}
.nav a{font-size: 14px;padding:0 1%;}
/*第一部分*/
.in_one{width:800px;}
.in_left_one{height: 43px;}
.in_left_one i{width: 25%;line-height: 43px;}
.in_left_one i img{width: 20px;}
.in_left_one i a{font-size: 12px;}

.in_right1{width: 74%;float: right;height: 328px;overflow: hidden;}
.in_right1 img{width: 100%;float: left;height:328px; }
#banner{width:100%;height:328px;position:relative;margin:0 auto;}
#banner .imglist{width:100%;height:328px;position:absolute;top:0px;left:0px;}
.btn{position:absolute;bottom:10px;left:44%;display:inline-block;padding:2px 15px;
     background-color:#ccc;border-radius:11px;}
.btn li{float:left;height:16px;width:16px;margin:0px2px;
	 background:url("../images/1.png") no-repeat;}
.btn .hover{background:url("../images/2.png") no-repeat;}


.in_right{height: 328px;}
.in_right img{height: 328px;}

.in_left_one span b{font-size: 12px;line-height: 43px;}
.in_left_one span img{padding-top: 7px;}
.in_left_two,.in_left_three,.in_left_four{height: 74px;}
.in_left_two b,.in_left_three b,.in_left_four b{font-size: 14px;}
.in_two_hot_left_bot{padding: 70% 10% 0 10%}
/*第二部分*/
.in_two{width:800px;}
.in_two_hot_left{width:221px;height: 477px;}
.in_two_hot_left_img img{width: 96%;height: 96%;}
.in_two_hot_left_main{width:221px;}
.in_two_hot_left_top{width: 80%}
.in_two_hot_left_top p{font-size: 18px}
.in_two_hot_right{width: 72%;}
.in_two_hot_right ul li a h4{font-size: 14px;}
.in_two_hot_right ul li p{font-size: 12px;}
.in_two_title ul li{font-size: 16px;}
.in_two_hot_right ul li a img,.in_active ul li a img,.in_news ul li a img{height: 133px}

/*特色路线*/
.in_ts{width:800px;}
.in_ts_hot_left{width:221px;height: 477px;}
.in_ts_hot_left_img img{width: 96%;height: 96%;}
.in_ts_hot_left_main{width:221px;}
.in_ts_hot_left_top{width: 80%}
.in_ts_hot_left_top p{font-size: 18px}
.in_ts_hot_right{width: 72%;}
.in_ts_hot_right ul li a h4{font-size: 14px;}
.in_ts_hot_right ul li p{font-size: 12px;}
.in_ts_title ul li{font-size: 16px;}
.in_ts_hot_right ul li a img,.in_active ul li a img,.in_news ul li a img{height: 133px}
.in_ts_hot_left_bot{padding: 70% 10% 0 10%}

/*近期活动*/
.in_active{width:800px;}
.in_active ul li a h4{font-size: 14px;}
.in_active ul li p{font-size: 12px;}
/*旅游资讯*/
.in_news{width:800px;}
.in_news ul li a h4{font-size: 14px;}
.in_news ul li p{font-size: 12px;}

/*保障*/
.in_helper{width:800px;height: 150px}
.in_helper ul li b{font-size: 16px;}
.in_sao span{width: 55%;}
.in_sao b{width: 55%;}
.in_helper ul{width: 60%;}
.in_sao{width: 37.5%}

/*底部*/
.footer_main{width:800px;}
}



@media screen and (max-width:800px) {
body{background: #fff;}

.top_main i#pc_dw{display: none;}
.top_main i#dw{display: block;}
.top_main i#dw img{padding:15px 0 0 3px;float: left;}
.top_main i#dw span{float: left;}

.search_all{height:auto;background: none;}
.top{height: 45px;line-height: 45px;}
.top_main span,.top_main i{font-size: 14px;}
.top_main{width: 92%;padding:0 4%;}
.search{width: 92%;padding:2% 4% 0 4%;}
.nav_logo{float: none;margin: auto;width: 100%;overflow: hidden;text-align: center;}
.nav_logo img{float: none;}
.nav_logo h1{width: 100%;line-height: 25px;padding-top: 13px;font-size: 16px;padding-left:0;}
.nav_all{width:600px;display: none;}
.ph_nav{display: block;}
.search_main{width: 100%;padding:4% 0 0 0;}
.search_sr{width: 71%;border-radius: 0;}
.search_sub{width: 24%;-webkit-appearance: none ; }
/*第一部分*/
.in_one{width: 92%;padding:0 4%;}
.in_left_one i{width: 25%;}
.in_right{height: 361px;display: block;}
.in_left{display: block;}
.in_right{width: 100%; }

.in_right1,.in_left_one,.in_left_one,.in_left_two,.in_left_three,.in_left_four{display: none;}


.in_mdd{display: none;width: 92%;left: 0;top:45px;position: fixed;padding:2% 4% 2% 4%;height: 96%;}
.in_mdd > p{padding-bottom: 1%}
.mdd_min ul li p{width: 86%}



/*第二部分*/
.in_two{width: 92%;padding:0 4%;}
.in_two_hot_right{width: 100%;}
.in_two_title ul li{width: 50%;padding:0;text-align: center;}
.in_two_hot_right ul li{width: 46%;margin:0 2% 1.5% 1%;}
.in_two_hot_right ul li a h4{font-size: 14px;}
.in_two_hot_right ul li p{font-size: 12px;}
.in_two_hot_right ul li a img,.in_active ul li a img,.in_news ul li a img{height: 185px}
.in_two_hot_left{display: none;}
.ph_hot{display: block;width: 92%;padding:1% 4%;}
.ph_hot p{width: 100%;float: left;color: #333;font-size: 16px;padding-bottom: 2%}
.ph_hot a{float: left;width:auto;padding:0 20px;text-align: center;border-radius: 20px;color: #00a0e9;
height: 30px;line-height: 30px;margin-bottom: 10px;font-size: 14px;border:1px #eee solid;margin-right: 15px;}


/*特色路线*/
.in_ts{width: 92%;padding:0 4%;}
.in_ts_hot_right{width: 100%;}
.in_ts_title ul li{width: 50%;padding:0;text-align: center;}
.in_ts_hot_right ul li{width: 46%;margin:0 2% 1.5% 1%;}
.in_ts_hot_right ul li a h4{font-size: 14px;}
.in_ts_hot_right ul li p{font-size: 12px;}
.in_ts_hot_right ul li a img,.in_active ul li a img,.in_news ul li a img{height: 185px}
.in_ts_hot_left{display: none;}
.ph_hot{display: block;width: 92%;padding:1% 4%;}
.ph_hot p{width: 100%;float: left;color: #333;font-size: 16px;padding-bottom: 2%}
.ph_hot a{float: left;width:auto;padding:0 20px;text-align: center;border-radius: 20px;color: #00a0e9;
height: 30px;line-height: 30px;margin-bottom: 10px;font-size: 14px;border:1px #eee solid;margin-right: 15px;}

/*近期活动*/
.in_active{width: 92%;padding:0 4%;}
.in_active ul li{width: 46%;margin:0 2% 1.5% 1%;}
.in_active ul li a h4{font-size: 14px;}
.in_active ul li p{font-size: 12px;}
/*旅游资讯*/
.in_news{width: 92%;padding:0 4%;}
.in_news ul li{width: 46%;margin:0 2% 1.5% 1%;}
.in_news ul li a h4{font-size: 14px;}
.in_news ul li p{font-size: 12px;}

/*保障*/
.in_helper{width: 92%;padding:0 4%;height: auto;}
.in_helper ul{width: 100%;border: none;}
.in_helper ul li b{font-size: 16px;}
.in_sao{background: #fff;width: 100%;text-align: center;height: auto;margin:0;padding-top: 0}
.in_sao img{float: none;width: 50%;padding-left:0;}
.in_sao span{width: 100%;padding:0;}
.in_sao b{width: 100%;padding-left: 0}

/*底部*/
.footer_main{width: 92%;padding:0 4%;}
.footer_main p {height: auto;font-size: 14px}
.footer_main p a{padding:0 3%;font-size: 14px; }
}


@media screen and (max-width:420px) {

.mdd_min ul li b{width: 20%;text-align: center;}
.mdd_min ul li p{width: 80%}

.in_two_hot_right ul li a img,.in_ts_hot_right ul li a img,.in_active ul li a img,.in_news ul li a img{height: 130px}
.in_helper{padding: 4% 4%}
.in_helper ul{margin:0;}

.footer{padding: 5% 0}
}
@media screen and (max-width:320px) {
.top_main a{padding: 0 9px;}
.top_main span, .top_main i{font-size: 12px;}
.in_right{height: 200px;}
.in_right img{height: 175px;}

.in_two_hot_right ul li a img,.in_ts_hot_right ul li a img, .in_active ul li a img, .in_news ul li a img{height: 90px}
.in_helper ul li img{width: 50px;}
.in_helper ul li b{font-size: 14px}
}
